<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/css/jass.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
    <title>crowdfund</title>
</head>
<body>
    <header>
        <h1>Welcome to give-me-money app</h1>
    </header>
    <nav>
        <a href="/">home</a>
        {{!-- {{#if loggedIn}} --}}
        <button id="logout" class="btn-no-style"></button>
    </nav>
    <main>
        <aside>
            <h2>Check out our projects</h2>
        </aside>
        <div class="gallery">
            {{{body}}}
        </div>
    </main>
    {{!-- {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}} --}}
</body>
</html>